.nav-bg {
  background: rgba(46, 67, 76, 0.6);
  height: 75px;
  margin-bottom: 0;
}

.nav-collapsed-items {
  max-width: 35%;
  min-width: 200px;
  margin-left: auto;
  margin-right: 0px;
  background: rgba(46, 67, 76, 0.6);
  text-align: start;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.header {
  height: 1080px;
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.title-header {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.scroll-button {
  position: fixed;
  width: 100%;
  bottom: 40px;
  height: 50px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgba(0, 128, 0, 0.344);
}

.bg-green {
  background: #B3C873;
}

.mission {
  display: flex;
  justify-content: center;
}

.section-check {
  width: 60%;
}

.result-check {
  padding-top: 37px;
  width: 740px;
}

.w-img {
  width: 100%;
}

.w-70p {
  max-width: 70%;
}

.w-80 {
  max-width: 80px;
}

.w-60 {
  max-width: 60px;
}

.w-40 {
  max-width: 40px;
}

.card {
  width: 400px;
  align-items: center;
  border: none!important;
  background: #B3C873!important;
}

.padding-section {
  padding-top: 3rem;
}

footer{
  background: #c7c6c6;
}

.pat{
  width: 200px;
  align-items: center;
  border: none!important;
}

.nav-item :hover{
  opacity: 0.5;
}