* {
  max-width: 100%;
  scroll-behavior: smooth;
}

.nav-bg {
  background: rgba(46, 67, 76, 0.6);
  height: 75px;
  margin-bottom: 0;
}

.nav-collapsed-items {
  max-width: 35%;
  min-width: 200px;
  margin-left: auto;
  margin-right: 0px;
  background: rgba(46, 67, 76, 0.6);
  text-align: start;
}

.nav-collapsed-items #auth {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hr {
  max-width: 100%;
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-collapsed-auth {
  margin-left: auto;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(131, 149, 156, 0.6);
  border: 2px rgb(211, 211, 211);
  border-style: groove;
  border-radius: 5px;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.header {
  height: 1080px;
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.title-header {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  margin-top: 400px;
  padding-top: 5%;
  align-items: center;
}

.scroll-button {
  position: fixed;
  width: 100%;
  bottom: 40px;
  height: 50px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgba(0, 128, 0, 0.344);
}

.bg-green {
  background: #B3C873;
}

.mission {
  display: flex;
  justify-content: center;
}

.section-check {
  width: 60%;
}

.result-check {
  padding-top: 37px;
  width: 740px;
}

.w-img {
  width: 100%;
}

.w-70p {
  max-width: 70%;
}

.w-80 {
  max-width: 80px;
  min-width: 30px;
}

.w-60 {
  max-width: 55px;
  min-width: 15px;
}

.w-40 {
  max-width: 40px;
  min-width: 20px;
}

.w-80e{
  max-width: 80%;
}

.card {
  width: 400px;
  align-items: center;
  border: none !important;
  background: #B3C873 !important;
}

.padding-section {
  padding-top: 3rem;
}

footer {
  background: #c7c6c6;
}

.pat {
  max-width: 200px;
  min-width: 30px;
  align-items: center;
}

.nav-item :hover {
  opacity: 0.5;
}

.auth-bg {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auth-card {
  background-color: rgba(179, 200, 115, 0.85);
  position: absolute;
  top: 10%;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .auth-bg {
    background-image: url("img/auth_phone.png");
  }
  .auth-card {
    width: 80%;
    left: 10%;
  }
}

@media (min-width:767px) {
  .auth-bg {
    background-image: url("img/auth.png");
  }
  .auth-card {
    width: 60%;
    left: 20%;
  }
}

.btn-auth {
  -webkit-text-fill-color: rgb(179, 200, 115);
  font-size: x-large;
  background: rgb(28, 36, 75);
  box-shadow: 10px 10px 4px rgba(85, 85, 85, 0.25);
  border-radius: 49px;
}

.event-bg{
  background: rgb(28,36,75)
}

.event-content{
  background: #fff;
  min-width: 430px;
}

.card-title {
  min-width: 320px;
}

.event-card{
  background: #D9D9D9;
  max-width: 85%;
  min-width: 340px;
  text-align: start;
}

.event-card-body {
  align-items: center!important;
  justify-content: center!important;
}

.event-card-img {
  min-width: 320px;
}

.card-img {
  object-fit: cover;
  width: 320px;
  height: auto;
}


.event-cont{
  min-width: 300px;
}

.create-button {
  position: fixed;
  background: #B3C873;
  border-radius: 30px;
  margin-bottom: 25px;
  z-index: 1;
  cursor: pointer;
  min-width: 230px;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.25);
}

.forme label{
  display: block;
  text-align: end;
  width: 25%;
}

.content-form{
  background: #ECECEC;
}

.forme input, .forme select{
  height: 42px;
  max-width: 75%;
  min-width: 420px;
  cursor: pointer;

  background: #D9D9D9;
  border-radius: 15px;
  border-style: none;
}

.forme textarea{
  max-width: 75%;
  min-width: 420px;
  cursor: pointer;

  background: #D9D9D9;
  border-radius: 15px;
  border-style: none;
}

.new-input-file{
  max-width: 75%;
  min-width: 400px;
}

.createform-button{
  height: 60px;
  
  border-style: none;
  background: #B3C873;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
}

.w-15{
  min-width: 200px;
}

.descbutton{
  height: 30px;

  border-style: none;
  background: #B3C873;
  border-radius: 30px;
  cursor: pointer;

  text-align: center;
}


.new-bg{
  min-height: 100vh;
  background: #B3C873;
}

.new-content{
  background: #fff;
}

.new-title{
  background: rgba(63, 63, 63, 0.7); 
}

.new-card{
  background: #D9D9D9;

  text-align: start;
  border-radius: 20px;
}

.new-card-body{
  min-width: 210px;
}

.new-card-img{
  min-width: 200px;
  background: #ABABAB;
  border-radius: 20px;
}

.new-cont{
  min-width: 230px;
}

.new-createform-button{
  height: 60px;
  
  border-style: none;
  background: #1C244B;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  cursor: pointer;
}

.new-create-button{
  position: fixed;
  background: #1C244B;
  border-radius: 30px;
  margin-bottom: 25px;
  z-index: 1;
  cursor: pointer;
  min-width: 230px;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.25);
}