.modal{
  height: 100vh;
  width: 100vw;
  background: rgba(83, 83, 83, 0.7);
  position: fixed;
  display: flex !important; 
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}

.modal__content{
  margin: 20px;
  padding: 10px;
  border-radius: 12px;
  background: #CFCFCF;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 650px;
  min-width: 270px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active{
  transform: scale(1);
}

.inf-card{
  text-align: start;
}

.inf-card-img{
  height: 200px;
}

.inf-card-img{
  background: rgba(83, 83, 83, 0.7);
}